#body{
    background: linear-gradient(90deg,#4286f4,#373b44);
}
section{
    max-width: 1090px;
    margin: auto;
}
h1{
    position: relative;
    color: #22C55E;
    font-size: 2.25rem;
    font-weight: 700;
    margin: 0.3rem;
    animation: bounce 0.3s infinite alternate;
}
.card{
    background-color:#FFFFFF;
    margin: 12px;
    padding: 12px;
    font-family: sans-serif;
}
.card:hover{
    cursor:pointer;
}
h2{
    color: #1E3A8A;
    padding: 24px 0px 0px;
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.75rem;
}
.middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
p{
    color: #6B21A8;
    font-size: 14px;
    font-family: sans-serif;
    margin-top: -10px;
    
}

/* h1 {
    color: #22C55E;
    font-size: 2.25rem;
    font-weight: 700;
    margin: 0.3rem;
    margin-top: 5em;
    text-align: center;
  }
  h1 span {
    position: relative;
    top: 20px;
    font-size: 80px;
    color: #fff;
   
    
  } */
  @keyframes bounce {
    100% {
      top: -10px;
     
    }
  }
  